body {
	font-family: 'Roboto', sans-serif;
	color: #64634e;
	font-weight: 400;
	background-image: url('../images/wave.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

h1 {
	font-size: 56px;
	vertical-align: bottom;
}

img, embed, object, video {
  	max-width: 100%;
}

p {
	font-size: 16pt;
	padding-left: 20px;
}

.row.header {
	background-color: rgba(255,255,255,0.5);
}

.text-thin {
	font-family: 'Shadows Into Light', cursive;
	font-weight: 100;
	color: #47243b;
}

.text-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.text-uppercase{
	font-family: 'Roboto', sans-serif;
}

.img-responsive.my-picture {
  	max-width: 100%;
  	padding: 20px;
	vertical-align: bottom;
	border-radius: 50%;
}

.name {
	/*padding-top: 40px;*/
	padding-left: 20px;
	color: #88b04b;
	font-size: 65pt;
}

.profession {
	padding-left: 20px;
}

.blurb {
	padding-top: 20px;
}

